<div class="row">
    <div class="col-md-6 col-md-offset-3">

<%= form_with(model: user_entity, local: true) do |f| %>
  <%= render 'shared/error_messages' %>

      <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      </div>


      <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      </div>

      <span class="image">
     <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
      </span>
      <div class="field">
      <%= f.label :confirmation_password, "Confirmar password" %>
      <%= f.password_field :confirmation_password, class:'form-control' %>
      </div>


      <div class="field">
      <%= f.label :address %>
      <%= f.text_area :address, class: 'form-control' %>
      </div>

      
      <div class="field">
      <%= f.label :postal_cod %>
      <%= f.text_field :postal_cod, class: 'form-control' %>
      </div>


      <div class="field">
      <%= f.label :contact %>
      <%= f.text_field :contact, class: 'form-control' %>
      </div>


      <div class="field">
      <%= f.label :nif %>
      <%= f.text_field :nif, class: 'form-control' %>
      </div>


      <div class="field">
      <%= f.label :locality %>
      <%= f.text_field :locality, class: 'form-control' %>
      </div>
      

      <div class="field">
      <%= f.label :professional_activity %>
      <%= f.select :professional_activity, ['Informatica','Enfermagem','Mecanica'] %>
      </div>
      

      <div class="field">
      <%= f.label :presentation %>
      <%= f.text_area :presentation, class: 'form-control' %>
      </div>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
      $("#user_entity_image").bind("change", function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      }
      $("#user_ebtity_image").val("");
      });
</script>