<div class="row forma fo">
    <div class="pa">

<%= form_with(model: user_entity, local: true) do |f| %>
  <%= render 'shared/error_messages' %>

      <div class="field  t">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="field t">
      <%= f.label :password%>
      <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="field t r al">
      <%= f.label :confirmation_password, 'Confirmar da Password' %>
      <%= f.password_field :confirmation_password, class:'form-control' %>
      </div>

      <span class="image r fot">
      <%= 'Foto'%>
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png,image" %>
      </span>

      <div class="field t">
      <%= f.label :name,'Nome' %>
      <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="field ">
      <%= f.label :address,'Morada' %>
      <%= f.text_area :address, class: 'form-control' %>
      </div>

      
      <div class="field co">
      <%= f.label :postal_cod,'Codigo Postal' %>
      <%= f.text_field :postal_cod, class: 'form-control' %>
      </div>

      <div class="field co lo">
      <%= f.label :locality,'Localidade' %>
      <%= f.text_field :locality, class: 'form-control' %>
      </div>

      <div class="field co">
      <%= f.label :contact,'Contactos' %>
      <%= f.text_field :contact, class: 'form-control' %>
      </div>


      <div class="field co">
      <%= f.label :nif ,'NIF'%>
      <%= f.text_field :nif, class: 'form-control' %>
      </div>
      

      <div class="field co">
      <%= f.label :professional_activity ,'Atividade profissional'%>
      <%= f.select :professional_activity, ['Informatica','Enfermagem','Mecanica'] %>
      </div>
      

      <div class="field ">
      <%= f.label :presentation ,'Apresentação'%>
      <%= f.text_area :presentation, class: 'form-control' %>
      </div>

      <%= f.submit "Registar", class: "btn btn-primary botao" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
      $("#user_entity_image").bind("change", function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      }
      $("#user_ebtity_image").val("");
      });
</script>