<% provide(:title, @user_entity.name) %>

<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
		<h1>
			<%= gravatar_for @user_entity %>
			<%= @user_entity.name %>
		</h1>
		<% if current_user_user.nil?%>
			<%= link_to "Edit Data", edit_user_entity_path(current_user), class: "btn btn-lg btn-primary btn-xs" %>
			<%= link_to "Change Password", '#', class: "btn btn-lg btn-primary btn-xs" %>
		<%end%>
		</section >
	</aside>
	<div class="col-md-8">
	    <% if @user_entity.offers.any? %>
			<h3>Offers (<%= @user_entity.offers.count %>)</h3>
			<ol class="offers">
			<%= render @offers %>
			</ol>
			<%= will_paginate @offers %>
		<% end %>
	</div>
</div>
