<% provide(:title, @user_entity.name) %>

<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<% if  @user_entity.image.attached?%>
				<%= image_tag @user_entity.display_image if @user_entity.image.attached? %>
				<%else%>
				<%= gravatar_for @user_entity %>
				<%end%>
				<%= @user_entity.name %>

	  			<%= @user_entity.presentation %>
			</h1>
		  <% if logged_in? %>
		   <%if current_entity?(current_user)%>
			<% if  @user_entity.id == current_user.id%>
				<%= link_to "Edit Data", edit_user_entity_path(current_user), class: "btn btn-lg btn-primary btn-xs" %>
				
					<%= link_to "Inserir Ofertas", insert_offer_path, class: "btn btn-lg btn-primary btn-xs"  %>
				<%end%>
				<%end%>
			<%end%>
		</section >
	   
	</aside>
	<%if current_user.nil?%>
	
    <%end%>
	<div class="col-md-8">
	<%if !current_user_user.nil?%>
			
			  <% if @user_entity.offers.any? %>
					<h3>Offers (<%= @user_entity.offers.count %>)</h3>
					<ol class="offers">
					<%= render @offers %>
					</ol>
					<%= will_paginate @offers %>
				
			 		
			  <% end %>
	<% end%>
	
	</div>
</div>

