<% provide(:title, @title) %>


<div class="row">
	<div class="container">
   <aside class="col-md-4">
   	<div>
	   <section class="user_info">
			<%= gravatar_for @user_entity %>
			<h1><%= @user_entity.name %></h1>
			<span><%= link_to "view my profile", @user_entity %></span>
			<span><b>Offers:</b> <%= @user_entity.offers.count %></span>
		</section>
		 <section class="stats">
		   <%= render 'shared/stats' %>
		  <% if !@user_entities.any? %>
			<div class="user_avatars">
			<% @user_entities.each do |user_entity| %>
				<%= link_to gravatar_for(user_entity, size: 30), user_entity %>
			<% end %>
		</div>
		<% end %>
	   </section>
	</aside>
</div>
<div></div>
	<div class="col-md-8">
			<h3><%= @title %></h3>
			<% if @user_entities.any? %>
				<ul class="users follow">
				<%= render @user_entities %>
				</ul>
			<%= will_paginate %>
		<% end %>
	</div>
</div>
</div>

