<% provide(:title, 'All Candidates') %>
<h1>All Entities</h1>

<%= will_paginate @user%>
<ul class="users">
<% @user.each do |user| %>
<li>
<%= gravatar_for user, size: 50 %>
<%= link_to user.name, user %>
</li>
<% end %>
</ul>

<%= link_to 'New User', new_user_path %>
<%= will_paginate @user%>
