<% provide(:title, @user.name) %>

  <div class="container">

 
  <divclass="row">
    <div >
        <div class="col-xs-6 col-md-4">
        <%= @user.name %>
        <p>
        <%= gravatar_for @user %>
      </p>
      <section class="stats">
      <%= render 'shared/stat' %>
      </section>
      <p>
      
  </p>
      <p>
     <% if current_user.nil?&& current?(current_user) %>
      <%= link_to 'Edit', edit_user_path(current_user_user), class: "btn btn-lg btn-primary btn-xs" %> 
        <%end%>
      </p>
    </div>


    <div class="col-xs-6 col-md-4">

      <p>
        <%= @user.presentation %>
      </p>

      <h1>Dados Profissionais</h1>

      <p>
        <%= @user.professional_area %>
      </p>

      <h1>Dados Pessoais</h1>

      <p>
        <%= @user.address %>
      </p>

      <p>
        <%= @user.contact %>
         <%= @user.locality %>
        <%= @user.postal_cod %>
    </div>

  </div>


   </div>
    <% if current_user.nil? %>
      <%= link_to 'Ver Candidatos', users_path %>
    <% end %>
  </div>
