<% provide(:title, 'All offers') %>

<h1>Offers</h1>
<%= will_paginate @offers%>
  <ul class="users">
     <% @offers.each do |offer| %>
     <li>
     <%= gravatar_for offer, size: 50 %>
     <%= link_to offer.name, offer %>
     <%= offer.content %>
    
<% if current_user_user.nil?%>
     <%= link_to 'Edit', edit_offer_path(offer) %>

  <% if current_user.admin? && !current_entity?(user_entity) %>

       <%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
  <% end %>
<%end%>

