
<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
 <div class="container">
<%= link_to "Bolsa de Empregos", root_path, id: "logo" %>
</div>
<nav>
<ul class="nav navbar-nav navbar-left">
<li><%= link_to "Home",root_path %></li>
<li><%= link_to "Entidades",'#' %></li>
<li><%= link_to "Candidatos",'#' %></li>
<li><%= link_to "Ofertas", '#' %></li>
<li><%= link_to "Noticias",'#' %></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<% if logged_in? %>

<li><%= link_to "| Log out", logout_path, method: :delete %></li>
<% else %>
<li><%= link_to "Registar-me",reges_path  %></li>
<li><%= link_to "Log in", newsession_path %></li>
<% end %>
</ul>
</nav>
</div>
</header>